@import url('https://fonts.googleapis.com/css2?family=Almarai');

* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(15, 15, 15);
    overflow: hidden;
    /* padding: 2%; */
}

h1 {
    font-family: 'Almarai';
    font-size: 4em;
    letter-spacing: -0.03em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}


.page-wrapper {
    height: 100vh;
    width: 100vw;
    padding: 5%;
    box-sizing: border-box;
}
